{% extends 'base/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <form id="follow-form" method="POST" action="/register/follow_user/">
        <input type="hidden" name="user_id" value="{{ user.id }}"></input>
        {% if followed %}
            <button id="follow-button" disabled>Following</button>
        {% else %}
            <button id="follow-button" type="submit">Follow</button>
        {% endif %}
    </form>
    <form id="accept-request-form" method="POST" action="/register/accept_request/">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}"></input>
        {% if follow_requested %}
            <button id="accept-request-button" type="submit">Accept request</button>
        {% endif %}
    </form>
    <h2>{{ user.username }}</h2>
    <img src="{{ user.userprofile.image.url }}" width="240">
    <p>First name: {{ user.first_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.userprofile.phone }} </p>
    <p>Biography: {{ user.userprofile.bio }} </p>
    <p>Phone: {{ user.userprofile.phone }} </p>
    <p>Website: {{ user.userprofile.website }} </p>
    <p>Gender: {{ user.userprofile.gender }} </p>
</div>

<script>
    $(document).ready(function(){
        follow_form = $("#follow-form")
        accept_request_form = $("#accept-request-form")
        $(follow_form).click( function(e) {
            event.preventDefault();
            $.ajax({
                method: "POST",
                url: "/register/follow_user/",
                data: form.serialize(),
                success: function (data) {
                    console.log(data)
                    $("#follow-button").text("Following")
                }
            });
        });
    });
</script>
{% endblock %}