{% extends 'base/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ user.username }}</h2>
    <img src="{{ user.userprofile.image.url }}" width="240">
    <p>First name: {{ user.first_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.userprofile.phone }} </p>
    <p>Biography: {{ user.userprofile.bio }} </p>
    <p>Phone: {{ user.userprofile.phone }} </p>
    <p>Website: {{ user.userprofile.website }} </p>
    <p>Gender: {{ user.userprofile.gender }} </p>
</div>
{% endblock %}