{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	{% block header %} 
	<head>
		<meta charset="UTF-8">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<title>{% block title %} Document {% endblock %}</title>
	</head>
	{% endblock %}

	<body>
		<div class="container">
			{% block Navbar %}
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">Instagram</a>
    			</div>
                {% if user.is_authenticated %}
    			<ul class="nav navbar-nav">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="#">Change Password</a></li>
                </ul>
                { % else % }
                <ul class="nav navbar-nav">
                    <li><a href="/register/new">Register</a></li>
                    <li><a href="/register/login">Login</a></li>
                </ul>
                {% endif %}
  			</div>
		</nav>
		{% endblock %}
		{% block content %} 
	{% endblock %}
	</div>
	
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>